*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

    font-family: 'Rubik', sans-serif;
    // border: 3px solid red; 
}

$color-primario: #333e51;
$color-securndario: #eeeeee;

li{
    list-style: none;
}



