*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

    font-family: 'Rubik', sans-serif;
    // border: 3px solid red; 
}

$color-primario: #333e51;
$color-securndario: #eeeeee;
$color-oscuro: black;
$shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
$text-shadows:1px 1px 3px black;

@mixin desktop{
    @media (min-width: 1200px){
        @content;
    }
}

@keyframes entrada-portada-left{
    0%{
        translate: -1000px 0px;
    }

    100%{
        translate: 0px 0px;
    }
}

@keyframes entrada-portada-right{
    0%{
        translate: 1000px 0px;
    }

    100%{
        translate: 0px 0px;
    }
}



li{
    list-style: none;
}



