*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

    font-family: 'Rubik', sans-serif;
    // border: 3px solid red; 
}

$color-primario: #333e51;
$color-securndario: #eeeeee;

@mixin desktop{
    @media (min-width: 1200px){
        @content;
    }
}



li{
    list-style: none;
}



