*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

    /* border: 3px solid red; */
}


body{
    font-family: 'Rubik', sans-serif;
}


/* ===============HEADER=============== */

/* -------Header Prinicpal------- */
header{
    width: 100vw;
    height: 35vh;
}

.header-index{
    background-image: url(../img/EdificioPortada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.h1-inicio{
    width: 110px;
    height: 70px;
}

.logo-nav{
    height: 100%;
    width: 100%;
}



/* -------Header Nosotros------- */
.header-nosotros{
    background-image: url(../img/img-Arquitectura1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* -------Header proyectos------- */
.header-proyectos{
    background-image: url(../img/img-Arquitectura2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* -------Header proyectos------- */
.header-servicios{
    background-image: url(../img/img-Arquitectura3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* -------Header proyectos------- */
.header-contacto{
    background-image: url(../img/img-Arquitectura4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container{
    background-color: white;
    max-height: 7vh;
    min-height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    position: fixed;
    
    border-bottom: 2px solid black;
}



/* ---------NavBar----------- */



.nav__container{
    display: flex;
    height: 100%;
    width: 90%;
    justify-content: end;
}

.nav__label{
    display: block;
    cursor: pointer;
}

.nav__input{
    display: none;
}

.nav-lista{
    display: none;
    position: fixed;
    top: 72px;
    bottom: 0;
    background: white;
    width: 100%;
    left: 0;
    
}

.nav__input:checked + .nav-lista{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
} 

.nav-links{
    display: flex;
    gap: 5vw;
}



/* =========================INDEX=========================== */

/* ------------TITULO------------ */

.contenido-index{
    padding: 50px 0 70px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;

    justify-items: center;
    align-items: center;

    row-gap: 5vh;
}
.section-titulo{
    min-width: 290px;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

.article-titulo{
    min-width: 290px;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.header-titulo{
    font-size: 3rem;
}

.article-titulo{
    font-size: 1.2rem;
}

.tarjetas-container{
    display: flex;
    flex-direction: column;
    gap: 10vh;
}



.info__tarjeta{
    max-width: 390px;
    min-height: 684px;
    max-height: 65vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.info__tarjeta__titulo{
    width: 100%;
    max-height: 65vh;
}

.info__tarjeta__img{
    max-width: 376px;
    min-width: 100%;
    max-height: 100%;
    min-height: 500px;
}


/* ===========Footer============== */

footer{
    background-color: #333e51;
    /* margin-top: 20px; */
    height: auto;

    border-top: 2px solid black;
}


.footer-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-template-areas: 
    "logo-lista"
    "informacion"
    "redes"
    ;
    justify-items: center;
    align-items: center;
    
    row-gap: 2vh;
}


.footer__link{
    padding: 7px;
    color: #eeeeee;
    border-radius: 10px;
}

.footer__link:hover{
    background-color: #eeeeee;
    color: #333e51;
}

/* ----------logo y nav--------- */

.logo-lista-footer{
    grid-area: logo-lista;
}

.logo-footernav{
    display: flex;
    flex-direction: column;
    
    justify-items: center;
    align-items: center;

    gap: 1vh;
}


.footer-lista{
    display: flex;
    flex-direction: column;
}
.footer-img-logo{
    width: 100%;
    max-width: 400px;
    height: 23%;

}

.enlance-home-footer,
.enlance-nosotros-footer,
.enlance-proyectos-footer,
.enlance-contacto-footer,
.enlance-servicios-footer {
    color: white;
}

/* ----------Informacion-------------- */

.informacion-footer{
    padding: 5vh 5vw;
    grid-area: informacion;
    
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 30px;
}

.titulos-informacion-footer{
    color: white;
    font-size: 12px;
}

/* -----------Redes Sociales----------- */

.infomacion-redes-empresa{
    grid-area: redes;
    padding: 5vh 5vw;

    max-width: 400px;

    
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-items: center;
    align-items: center;
}

.footer-lista{
    display: flex;
    gap: 10px;
}

.info-empresa{
    color: white;
    font-size: 12px;
}

.acerca-empresa{
    color: white;
    font-size: 17px;
}

.redes{
    color: white;
}



/* ==============Multimedia y Enlaces=========== */

/* -------------Enlaces------------- */
a{
    text-decoration: none;
}



a:hover{
    background-color: #333e51;
    color: #eeeeee;
}

li{
    display: flex;
}

.nav__link{
    padding: 6px 10px;
    border-radius: 12px;
}


/* ============================PAGINA NOSOTROS============================ */

/* -------------Tarjetas------------- */

.tarjetas-nosotros{

    /* min-height: 500px; */
    /* max-height: 100%; */
    padding: 50px 0;
    display: grid;
    padding-bottom: 70px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "tarjeta1"
    "tarjeta2"
    "tarjeta3"
    ;
    justify-items: center;
    align-items: center;

    gap: 65px;

    background-color: #333e51;
    
}

.tarjeta1-nosotros{
    max-width: 390px;
    /* height: 25vh; */
    grid-area: tarjeta1;
    color: #eeeeee;

}

.tarjeta2-nosotros{
    max-width: 390px;
    /* height: 25vh; */
    grid-area: tarjeta2;
    color: #eeeeee;
}

.tarjeta3-nosotros{
    max-width: 390px;
    /* height: 25vh; */
    grid-area: tarjeta3;
    color: #eeeeee;
}

.parrafos-nosotros{
    padding: 2.5vh 5vw;
}

.img-tarjeta1, .img-tarjeta2, .img-tarjeta3
{
    width: 100%;
}


/* ==========================PAGINA PROYECTOS=============================== */

.primera-fila{
    display: flex;
    justify-content: space-around;
    padding:35px 0px;
}

.img-primera-fila{
    height: 30vh;
    width: 23vw;
}

.proyectos-imagines{
    height: 100%;
    width: 100%;
}

/* ==========================Informacion================================= */

.informacion{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.informacion-imagenes{
    width: 60vh;
    height: 30vh;
}

.img-informacion{
    height: 100%;
    width: 100%;
}

.informacion-section{
    padding: 0 10px 30px 10px;

    width: 100vw;
    max-width: 60vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.informacion-titulo{
    font-size: 2rem;
}

.informacion-text{
    font-size: 1.5rem;
}



/* ========================================Responsive======================================= */


@media (min-width: 600px) {
    
    /* -----header----- */
    header{
        height: 50vh;
    }

    .footer-lista{
        flex-direction: row;
    }

    .informacion-imagenes{
        width: 60vh;
        height: 40vh;
    }

   
}

@media (min-width: 768px) {
    header{
        height: 85vh;
    }
}

@media (min-width: 1024px) {

    .nav__label{
        display: none;
    }

    .nav-bar{
        width: 100%;
    }

    .nav-lista{
        position: relative;
        display: flex;
        top: 0;
        justify-content: end;
        gap: 30px;
        
    }

    .tarjetas-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }

    .footer-img-logo{
        max-width: 250px;
    }

    .footer-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "logo info acerca"
        ;
    }

    .logo-lista-footer{
        grid-area: logo;
    }

    .informacion-footer{
        grid-area: info;
    }

    .infomacion-redes-empresa{
        grid-area: acerca;
    }



}

@media (min-width: 1200px) {

    .tarjetas-nosotros{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .banner{
    width: 100%;
    height: 200px;
    background-image: url("../img/nyc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }

}


@media (min-width: 1500px) {
    header{
        height: 100vh;
    }

    .tarjetas-container{
        display: flex;
        flex-direction: row;
    }

    .infomacion-redes-empresa{
        max-width: 80%;
    }


    .section-titulo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        padding-top: 5vh;
    }

    .header-titulo{
        font-size: 3.5rem;
    }

    /* ================NOSOTROS================== */

    .banner{
        width: 100%;
        height: 200px;
        background-image: url("../img/nyc.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .informacion{
        flex-direction: row;
        justify-content: space-evenly;
        padding: 50px 0;
        
    }

    .informacion-titulo{
        font-size: 2rem;
    }
    
    .informacion-text{
        font-size: 1.7rem;
    }
    
}


