*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

    /* border: 3px solid red; */
}


body{
    font-family: 'Rubik', sans-serif;
}


/* ===============HEADER=============== */

/* -------Header Prinicpal------- */
header{
    width: 100vw;
    height: 35vh;
}

.header-contacto{
    width: 100vw;
    height: 72px;
}

.header-index{
    background-image: url(../img/EdificioPortada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.h1-inicio{
    width: 110px;
    height: 70px;
}

.logo-nav{
    height: 100%;
    width: 100%;
}



/* -------Header Nosotros------- */
.header-nosotros{
    background-image: url(../img/img-Arquitectura1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* -------Header proyectos------- */
.header-proyectos{
    background-image: url(../img/img-Arquitectura2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* -------Header proyectos------- */
.header-servicios{
    background-image: url(../img/img-Arquitectura3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* -------Header proyectos------- */
/* .header-contacto{
    background-image: url(../img/img-Arquitectura4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

.header-container{
    background-color: white;
    max-height: 7vh;
    min-height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    position: fixed;
    
    border-bottom: 2px solid black;
}



/* ---------NavBar----------- */



.nav__container{
    display: flex;
    height: 100%;
    width: 100vw;
    justify-content: end;
}

.nav__label{
    display: block;
    cursor: pointer;
}

.nav__input{
    display: none;
}

.nav-lista{
    display: none;
    position: fixed;
    top: 71px;
    bottom: 0;
    background: white;
    width: 30%;
    right: 0;
    border-left: 2px solid black;
}

.nav__input:checked + .nav-lista{

    display: flex;
    justify-content: start;
    z-index: -1;
} 

.nav-links{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 3vh;
}



/* =========================INDEX=========================== */

/* ------------TITULO------------ */

.contenido-index{
    padding: 50px 0 70px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;

    justify-items: center;
    align-items: center;

    row-gap: 5vh;
}
.section-titulo{
    min-width: 290px;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

.article-titulo{
    min-width: 290px;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.header-titulo{
    font-size: 3rem;
}

.article-titulo{
    font-size: 1.2rem;
}

.tarjetas-container{
    display: flex;
    flex-direction: column;
    gap: 10vh;
}



.info__tarjeta{
    max-width: 390px;
    min-height: 684px;
    max-height: 65vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.info__tarjeta__titulo{
    width: 100%;
    max-height: 65vh;
}

.info__tarjeta__img{
    max-width: 376px;
    min-width: 100%;
    max-height: 100%;
    min-height: 500px;
}


/* ===========Footer============== */

footer{
    background-color: #333e51;
    /* margin-top: 20px; */
    height: auto;

    border-top: 2px solid black;
}


.footer-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-template-areas: 
    "logo-lista"
    "informacion"
    "redes"
    ;
    justify-items: center;
    align-items: center;
    
    row-gap: 2vh;
}


.footer__link{
    padding: 7px;
    color: #eeeeee;
    border-radius: 10px;
}

.footer__link:hover{
    background-color: #eeeeee;
    color: #333e51;
}

/* ----------logo y nav--------- */

.logo-lista-footer{
    grid-area: logo-lista;
}

.logo-footernav{
    display: flex;
    flex-direction: column;
    
    justify-items: center;
    align-items: center;

    gap: 1vh;
}


.footer-lista{
    display: flex;
    flex-direction: column;
}
.footer-img-logo{
    width: 100%;
    max-width: 400px;
    height: 23%;

}

.enlance-home-footer,
.enlance-nosotros-footer,
.enlance-proyectos-footer,
.enlance-contacto-footer,
.enlance-servicios-footer {
    color: white;
}

/* ----------Informacion-------------- */

.informacion-footer{
    padding: 5vh 5vw;
    grid-area: informacion;
    
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 30px;
}

.titulos-informacion-footer{
    color: white;
    font-size: 12px;
}

/* -----------Redes Sociales----------- */

.infomacion-redes-empresa{
    grid-area: redes;
    padding: 5vh 5vw;

    max-width: 400px;

    
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-items: center;
    align-items: center;
}

.footer-lista{
    display: flex;
    gap: 10px;
}

.info-empresa{
    color: white;
    font-size: 12px;
}

.acerca-empresa{
    color: white;
    font-size: 17px;
}

.redes{
    color: white;
}



/* ==============Multimedia y Enlaces=========== */

/* -------------Enlaces------------- */
a{
    text-decoration: none;
}



a:hover{
    background-color: #333e51;
    color: #eeeeee;
}

.titulo__container {
  padding: 30px 60px;
}
.titulo__container .titulo__head {
  font-size: 2rem;
}
.titulo__container .titulo__inicial {
  font-size: 1.5rem;
}
.titulo__container .titulo__text {
  padding-top: 15px;
  display: block;
  font-size: 1.2rem;
}

.banner {
  width: 100%;
  height: 200px;
  background-image: url("../img/nyc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.clientes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clientes__texto {
  padding: 50px;
  font-size: 2rem;
}
.clientes__logo {
  width: 350px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}
.clientes__img {
  padding: 15px;
  width: 80%;
  border: 1px solid #333e51;
}

.header-index {
  background-image: url(../../img/EdificioPortada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-index {
  background-image: url(../../img/img-Arquitectura1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-index {
  background-image: url(../../img/img-Arquitectura2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-index {
  background-image: url(../../img/img-Arquitectura3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
