* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.tarjetas-container {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.tarjeta {
  max-width: 390px;
  min-height: 684px;
  max-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tarjeta__titulo__img {
  width: 100%;
  max-height: 65vh;
}
.tarjeta__imagen {
  max-width: 376px;
  min-width: 100%;
  max-height: 100%;
  min-height: 500px;
}

.contenido-index {
  padding: 50px 0 70px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr;
  justify-items: center;
  align-items: center;
  row-gap: 5vh;
}

.titulo__container {
  min-width: 290px;
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  gap: 5vw;
}
.titulo__container__head {
  font-size: 3rem;
}
.titulo__container__info {
  min-width: 290px;
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  font-size: 1.2rem;
}

header {
  width: 100vw;
  height: 35vh;
}

.header-index {
  background-image: url(../img/EdificioPortada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__container {
  background-color: white;
  max-height: 7vh;
  min-height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  border-bottom: 2px solid black;
}

.header__inicio {
  width: 110px;
  height: 70px;
}

.header__logo__img {
  height: 100%;
  width: 100%;
}

.navbar {
  display: flex;
  height: 100%;
  width: 100vw;
  justify-content: end;
}

.navbar__label {
  display: block;
  cursor: pointer;
}

.navbar__input {
  display: none;
}

.navbar__lista {
  display: none;
  position: fixed;
  top: 71px;
  bottom: 0;
  background: white;
  width: 30%;
  right: 0;
  border-left: 2px solid black;
}

.nav__input:checked + .nav-lista {
  display: flex;
  justify-content: start;
}

.navbar__lista__links {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 3vh;
}

footer {
  background-color: #333e51;
  height: auto;
  border-top: 2px solid black;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  grid-template-areas: "logo-lista" "informacion" "redes";
  justify-items: center;
  align-items: center;
  row-gap: 2vh;
}
.footer-container .footer__nav {
  grid-area: logo-lista;
}
.footer-container .footer__nav .footer__logo {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1vh;
}
.footer-container .footer__nav .footer__logo__img {
  width: 100%;
  max-width: 400px;
  height: 23%;
}
.footer-container .footer__nav .footer__lista {
  display: flex;
  flex-direction: column;
}
.footer-container .footer__informacion {
  padding: 5vh 5vw;
  grid-area: informacion;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 30px;
}
.footer-container .footer__informacion .informacion__datos {
  color: white;
  font-size: 12px;
}
.footer-container .footer__empresa {
  grid-area: redes;
  padding: 5vh 5vw;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-items: center;
  align-items: center;
  color: white;
}
.footer-container .footer__empresa .footer__redes__lista {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.footer-container .footer__empresa .footer__empresa__info {
  font-size: 0.7rem;
}
.footer-container .footer__empresa .footer__empresa__titulo {
  font-size: 17px;
}

/*# sourceMappingURL=style.css.map */
