.portada__nosotros{
    height: 50vh;
    min-height: 400px;
    background-image: url(../../img/img-Arquitectura1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 1rem;
    padding-right: 50px;
    .portada__titulo{
        text-shadow: $text-shadows;
        color: $color-securndario;
        animation-name: entrada-portada-right;
        animation-duration: 2s;
    }

    @include desktop{
        height: 100vh;
        min-width: 400px;
        font-size: 3rem;
        padding-left: 100px;
    }
}