footer{
    background-color: $color-primario;
    height: auto;

    padding-top: 50px;

    border-top: 2px solid black;
   

    .footer-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        grid-template-areas: 
        "logo-lista"
        "informacion"
        "redes"
        ;
        justify-items: center;
        align-items: center;
        
        row-gap: 2vh;
    
        // Footer NAVBAR
        .footer__nav{
            grid-area: logo-lista;
            
            .footer__logo{
                display: flex;
                flex-direction: column;
                
                justify-items: center;
                align-items: center;
            
                gap: 1vh;
                
            }
    
            .footer__logo__img{
                width: 100%;
                max-width: 400px;
                height: 23%;
            }
        
            .footer__lista{
                font-size: 1.5rem;
                padding: 20px 0 0 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
            }
    
            .footer__link   {
                text-decoration: none;
                color: white;
            }
    
    
        }
    
        // Footer Information
    
        .footer__informacion{
            padding: 5vh 5vw;
            grid-area: informacion;
            
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            gap: 30px;
    
            .informacion__datos{
                color: white;
                font-size: 12px;
            }
    
        }
    
        // Acerca de la empresa y Redes Sociales
    
        .footer__empresa{
            grid-area: redes;
            padding: 5vh 5vw;
            max-width: 450px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-items: center;
            align-items: center;
            color: white;
    
    
            .footer__redes__lista{
                display: flex;
                gap: 10px;
                flex-direction: column;
            }
    
            .footer__empresa__info{
                font-size: 1rem;
            }
    
            .footer__empresa__titulo{
                font-size: 1.6rem;
            }
    
        }
    }

    @include desktop{
        .footer-container{
            padding: 50px 20px 50px 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;


            .footer__nav{
                .footer__lista{
                    display: flex;
                    flex-direction: row;
                }
            }

            .footer__empresa{
                &__descrip{
                    width: 450px;
                }

                .footer__redes{
                    &__lista{
                        display: flex;
                        flex-direction: row;
                    }
                }
            }
            
        }

        
    }
}
















