.contenido-index{
    padding: 50px 0 70px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    justify-items: center;
    align-items: center;
    row-gap: 5vh;
}

.titulo__container{
    min-width: 290px;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    gap: 5vw;

    &__head{
        font-size: 3rem;
    }

    &__info{
        min-width: 290px;
        display: flex;
        flex-direction: column;
        gap: 2.5vh;
        font-size: 1.2rem;
    }
}
